extends /layouts/_default

block content
    - for (var i = 0; i < data.length; i++)
        section(id=data[i].id, class=data[i].disabled)
            h2.question=data[i].question
            ul.answer
                - for(var j = 0; j < data[i].answer.length; j++)
                    - var answer = data[i].answer[j]
                    li
                        a.answer-item(href="#")=answer.answerName
                        ul.comment
                            - for(var k = 0; k < answer.comment.length; k++)
                                li=answer.comment[k]
                        a.next.icon-point-down(href=data[i].next)=data[i].nextText

    section.disabled(id="result")
